
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        body {
        font-family: Arial, sans-serif;
        background-color:black;
        margin: 0;
        padding: 0;
    }
    
    .form {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 8px;
        width: 300px;
        margin: 80px auto; 
    }
    
    
    .input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    
    .inputsubmit {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        background-color: #4caf50;
        color: white;
        cursor: pointer;
    }
    .message{
        color: red;
        text-align: center
    }
    .admin{
        color: azure;
        text-align: center;
        margin-top: 100px;
    }
    </style>
</head>
<body>
    


<h1 class="admin">Admin Login</h1>

<%
if(typeof message !== 'undefined'){
    %>
    <h3 class="message"><%= message %></h3>
    <%
}
 %>


<form class="form" method="get" action="">
    <input class="input" type="email" name="email" placeholder="Enter Your Email">
    <br><br>
    <input class="input" type="password" name="password" placeholder="Enter Your Password">
    <br><br>
    <input class="inputsubmit" type="submit" value="Login">
</form>

    
</body>
</html>